<a href="TAIL"><img src="https://i.imgur.com/GRTE0OG.png" width="150" title="Tail Logo" />
 </a>

# <font color ="#00b8ff">Aula 1 - Trainees 2</font>

Nome:

### Notebook Criado por Rodrigo Veríssimo

## Introdução

O Pandas é uma biblioteca do Python que facilita (e muito) a manipulação de CSVs, arquivos separados por vírgula, que podem ser interpretados como tabelas. Exitem outras duas formas para analisar arquivos CSVs, com métodos nativos e com a biblioteca CSV, mas ambas são poucos práticas para esse intuito.

O código importa a biblioteca pandas e "apelida" ela de "pd", essa é uma convenção amplamente utilizada.

Vamos então iniciar umas manipulações básicas sobre o análise de dados e o que vimos em aula.

Quando passar na ala de código basta apertar o play para rodar

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

C:\Users\Meu Computador\AppData\Local\Temp\ipykernel_9808\2151744951.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [70]:
students = pd.read_csv("data/q1_estudantes.csv")
climate = pd.read_csv("data/q2_clima.csv")
spotify = pd.read_csv("data/q3_spotify.csv", encoding='ISO-8859-1')

df = spotify

A função `read_csv()` é chamada e recebe como argumento o endereço de um arquivo CSV, essa função pega esse CSV e transforma ele em um DataFrame (Tabela do Pandas) e atribui à variável data.

In [71]:
df.head(5)

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,bpm,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",2,2023,7,14,553,147,141381703,43,...,125,B,Major,80,89,83,31,0,8,4
1,LALA,Myke Towers,1,2023,3,23,1474,48,133716286,48,...,92,C#,Major,71,61,74,7,0,10,4
2,vampire,Olivia Rodrigo,1,2023,6,30,1397,113,140003974,94,...,138,F,Major,51,32,53,17,0,31,6
3,Cruel Summer,Taylor Swift,1,2019,8,23,7858,100,800840817,116,...,170,A,Major,55,58,72,11,0,11,15
4,WHERE SHE GOES,Bad Bunny,1,2023,5,18,3133,50,303236322,84,...,144,A,Minor,65,23,80,14,63,11,6

A função `.head()` e `.tail()` são responsaveis por verem o inicio (head) ou o final (tail) de uma planilha sem precisar ver toda a tabela de uma vez, alem de pode escolher quantas linhas você deseja ver, no caso do exemplo, 5 linhas. <br>

> Essa função pode ser usada para dividir a tabela em partes menores

Sem nenhum mistério, esse é o grande intuito do Pandas, mexer com tabelas. Lembre-se que uma das grandes aplicações do Python é a ciência de dados, então entender o Pandas vai te tornar um(a) grande programador(a) em Python.
E a partir desses dados tratados você pode realizar alguns métodos para inteligência artificial.

Vamos testar a função `.tail()` ? mostre as 10 ultimas colunas do dataset.

In [72]:
#Seu código aqui
df.tail(10)

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,bpm,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
943,Privileged Rappers,"Drake, 21 Savage",2,2022,11,4,1007,0,112436403,6,...,144,F,Major,93,62,61,0,0,12,20
944,The Astronaut,Jin,1,2022,10,28,481,9,203436468,10,...,125,F,Major,54,22,76,0,0,14,3
945,BackOutsideBoyz,Drake,1,2022,11,4,1045,0,93367537,8,...,142,F,Minor,85,40,43,4,0,39,32
946,Broke Boys,"Drake, 21 Savage",2,2022,11,4,1060,0,106249219,3,...,120,D,Major,64,11,53,1,0,25,27
947,The Great War,Taylor Swift,1,2022,10,21,1274,0,181382590,1,...,96,F,Major,57,55,74,22,0,8,4
948,My Mind & Me,Selena Gomez,1,2022,11,3,953,0,91473363,61,...,144,A,Major,60,24,39,57,0,8,3
949,Bigger Than The Whole Sky,Taylor Swift,1,2022,10,21,1180,0,121871870,4,...,166,F#,Major,42,7,24,83,1,12,6
950,A Veces (feat. Feid),"Feid, Paulo Londra",2,2022,11,3,573,0,73513683,2,...,92,C#,Major,80,81,67,4,0,8,6
951,En La De Ella,"Feid, Sech, Jhayco",3,2022,10,20,1320,0,133895612,29,...,97,C#,Major,82,67,77,8,0,12,5
952,Alone,Burna Boy,1,2022,11,4,782,2,96007391,27,...,90,E,Minor,61,32,67,15,0,11,5

## Analisando o DataSet

Teoria pode ser muito cansativo, então vamos colocar um pouco de prática aqui, você vai fazer um interessante trabalho de estatístico(a).
Explore os dados e tire suas conclusões sobre as colunas, relevância que elas têm, pra que podem ser usadas, etc.

### Dimensionando a tabela

Ok, temos a tabela na variável data mas não sabemos algumas de suas características fundamentais, como tamanho, colunas etc.

Comece dimensionando o DataFrame, diga quantas linhas e colunas ele têm, recomendo a utilização do método `.shape`.

utilize as variáveis linhas e colunas.

In [73]:
#Seu código aqui
df.shape

(953, 24)

Saber o tamanho do DataFrame é um passo importante, mas também é fundamental entender que tipo de informação ele carrega, que está armazenado nas colunas. Encontre o nome das colunas com o atributo `.columns`

In [74]:
#Seu código aqu
df.columns

Index(['track_name', 'artist(s)_name', 'artist_count', 'released_year',
       'released_month', 'released_day', 'in_spotify_playlists',
       'in_spotify_charts', 'streams', 'in_apple_playlists', 'in_apple_charts',
       'in_deezer_playlists', 'in_deezer_charts', 'in_shazam_charts', 'bpm',
       'key', 'mode', 'danceability_%', 'valence_%', 'energy_%',
       'acousticness_%', 'instrumentalness_%', 'liveness_%', 'speechiness_%'],
      dtype='object')

Bom! Isso já dá uma boa visão sobre a tabela com a qual você está lidando

# Criar e apagar coluna

Bom, agora nós sabemos exatamente o tamanho e as colunas de nossa tabela. Mas você percebeu que tem colunas extra que as descritas na "descrição das colunas". Sabemos que, se os dados não tem descrição ele pode acabar alterando o sentido e o modo de fazer pesquisa, logo precisamos apagar essas colunas "inúteis" para que não ocasione isso.

Tire uma coluna que considere inútil com o `.drop()`

In [ ]:
df = df.drop(columns=["coluna"])
df

In [75]:
#Seu código aqui
df = df.drop(columns=["in_shazam_charts"])
df

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,bpm,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",2,2023,7,14,553,147,141381703,43,...,125,B,Major,80,89,83,31,0,8,4
1,LALA,Myke Towers,1,2023,3,23,1474,48,133716286,48,...,92,C#,Major,71,61,74,7,0,10,4
2,vampire,Olivia Rodrigo,1,2023,6,30,1397,113,140003974,94,...,138,F,Major,51,32,53,17,0,31,6
3,Cruel Summer,Taylor Swift,1,2019,8,23,7858,100,800840817,116,...,170,A,Major,55,58,72,11,0,11,15
4,WHERE SHE GOES,Bad Bunny,1,2023,5,18,3133,50,303236322,84,...,144,A,Minor,65,23,80,14,63,11,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
948,My Mind & Me,Selena Gomez,1,2022,11,3,953,0,91473363,61,...,144,A,Major,60,24,39,57,0,8,3
949,Bigger Than The Whole Sky,Taylor Swift,1,2022,10,21,1180,0,121871870,4,...,166,F#,Major,42,7,24,83,1,12,6
950,A Veces (feat. Feid),"Feid, Paulo Londra",2,2022,11,3,573,0,73513683,2,...,92,C#,Major,80,81,67,4,0,8,6
951,En La De Ella,"Feid, Sech, Jhayco",3,2022,10,20,1320,0,133895612,29,...,97,C#,Major,82,67,77,8,0,12,5
952,Alone,Burna Boy,1,2022,11,4,782,2,96007391,27,...,90,E,Minor,61,32,67,15,0,11,5

Você pode também acrescentar uma coluna que seja necessária para os dados, como no exemplo abaixo:

In [76]:
df['Teste'] = list(range(len(df)))
df

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%,Teste
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",2,2023,7,14,553,147,141381703,43,...,B,Major,80,89,83,31,0,8,4,0
1,LALA,Myke Towers,1,2023,3,23,1474,48,133716286,48,...,C#,Major,71,61,74,7,0,10,4,1
2,vampire,Olivia Rodrigo,1,2023,6,30,1397,113,140003974,94,...,F,Major,51,32,53,17,0,31,6,2
3,Cruel Summer,Taylor Swift,1,2019,8,23,7858,100,800840817,116,...,A,Major,55,58,72,11,0,11,15,3
4,WHERE SHE GOES,Bad Bunny,1,2023,5,18,3133,50,303236322,84,...,A,Minor,65,23,80,14,63,11,6,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
948,My Mind & Me,Selena Gomez,1,2022,11,3,953,0,91473363,61,...,A,Major,60,24,39,57,0,8,3,948
949,Bigger Than The Whole Sky,Taylor Swift,1,2022,10,21,1180,0,121871870,4,...,F#,Major,42,7,24,83,1,12,6,949
950,A Veces (feat. Feid),"Feid, Paulo Londra",2,2022,11,3,573,0,73513683,2,...,C#,Major,80,81,67,4,0,8,6,950
951,En La De Ella,"Feid, Sech, Jhayco",3,2022,10,20,1320,0,133895612,29,...,C#,Major,82,67,77,8,0,12,5,951
952,Alone,Burna Boy,1,2022,11,4,782,2,96007391,27,...,E,Minor,61,32,67,15,0,11,5,952

O código procura a existência da coluna Teste no método `list()`, caso ela não exista ele cria gerando números que representam a posição da coluna. o `range()` significa o faça e o `len()` pega o tamanho do seu dataset

Agora é sua vez, apague a coluna Teste criada e crie uma nova que possa colaborar com o dataset que estamos utilizando

In [77]:
#Seu código aqui
df = df.drop(columns=["Teste"]) # apagar a coluna teste com .drop
artist_counts = df['artist(s)_name'].value_counts()
"""com value_counts(), conta quantas vezes o nesmo artista aparece na coluna artist(s)_name, criando uma serie que tem o nome do artista como
indice e o numero de ocorrencia como valores, a serie eh armazenada na variavel artist_counts()."""
df['artist_count'] = df['artist(s)_name'].map(artist_counts) 
"""aqui, eu crio a coluna artist_count, de modo que eu pego a coluna artist(s)_name, uso .map, que me leva a serie criada em artist_counts,
entao, para cada nome na coluna artist(s)_name, eu adiciono a coluna artist_count, vendo quantas vezes o artista se repete."""
df.head(20) # printar o cabecalho
#(taylor swift nao para ne impressionante)

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,bpm,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",1,2023,7,14,553,147,141381703,43,...,125,B,Major,80,89,83,31,0,8,4
1,LALA,Myke Towers,1,2023,3,23,1474,48,133716286,48,...,92,C#,Major,71,61,74,7,0,10,4
2,vampire,Olivia Rodrigo,7,2023,6,30,1397,113,140003974,94,...,138,F,Major,51,32,53,17,0,31,6
3,Cruel Summer,Taylor Swift,34,2019,8,23,7858,100,800840817,116,...,170,A,Major,55,58,72,11,0,11,15
4,WHERE SHE GOES,Bad Bunny,19,2023,5,18,3133,50,303236322,84,...,144,A,Minor,65,23,80,14,63,11,6
5,Sprinter,"Dave, Central Cee",1,2023,6,1,2186,91,183706234,67,...,141,C#,Major,92,66,58,19,0,8,24
6,Ella Baila Sola,"Eslabon Armado, Peso Pluma",1,2023,3,16,3090,50,725980112,34,...,148,F,Minor,67,83,76,48,0,8,3
7,Columbia,Quevedo,4,2023,7,7,714,43,58149378,25,...,100,F,Major,67,26,71,37,0,11,4
8,fukumean,Gunna,1,2023,5,15,1096,83,95217315,60,...,130,C#,Minor,85,22,62,12,0,28,9
9,La Bebe - Remix,"Peso Pluma, Yng Lvcas",1,2023,3,17,2953,44,553634067,49,...,170,D,Minor,81,56,48,21,0,8,33
10,un x100to,"Bad Bunny, Grupo Frontera",1,2023,4,17,2876,40,505671438,41,...,83,F#,Minor,57,56,72,23,0,27,5
11,Super Shy,NewJeans,6,2023,7,7,422,55,58255150,37,...,150,F,Minor,78,52,82,18,0,15,7
12,Flowers,Miley Cyrus,2,2023,1,12,12211,115,1316855716,300,...,118,NaN,Major,71,65,68,6,0,3,7
13,Daylight,David Kushner,2,2023,4,14,3528,98,387570742,80,...,130,D,Minor,51,32,43,83,0,9,3
14,As It Was,Harry Styles,17,2022,3,31,23575,130,2513188493,403,...,174,F#,Minor,52,66,73,34,0,31,6
15,Kill Bill,SZA,19,2022,12,8,8109,77,1163093654,183,...,89,G#,Major,64,43,73,5,17,16,4
16,Cupid - Twin Ver.,Fifty Fifty,2,2023,2,24,2942,77,496795686,91,...,120,B,Minor,78,76,59,43,0,34,3
17,What Was I Made For? [From The Motion Picture ...,Billie Eilish,5,2023,7,13,873,104,30546883,80,...,78,NaN,Major,44,14,9,96,0,10,3
18,Classy 101,"Feid, Young Miko",1,2023,3,31,2610,40,335222234,43,...,100,B,Major,86,67,66,14,0,12,16
19,Like Crazy,Jimin,3,2023,3,24,596,68,363369738,8,...,120,G,Major,63,36,73,0,0,36,4

### Descrição estatística

Ok, dimensionamos a tabela e vimos o nome das colunas, mas isso ainda é o começo, precisamos saber como manipular essa tabela. Uma forma interessante de acessar os dados da tabela é com a seguinte sintaxe:

In [79]:
variável_coluna = df['artist_count']
variável_coluna

0       1
1       1
2       7
3      34
4      19
       ..
948     1
949    34
950     1
951     1
952     2
Name: artist_count, Length: 953, dtype: int64

O que isso quer dizer? Bem, a sintaxe `df['coluna']` acessa a coluna nomeada do DataFrame df, essa coluna foi armazenada na variável_coluna e apresentada.

Ok, temos acesso às colunas do DataFrame, isso é bom, isso quer dizer que podemos tirar algumas conclusões

In [ ]:
v = df["outra_coluna"].mean()
v

O método `.mean()` calcula médias em listas rapidamente, não precisamos fazer nenhuma conta, isso é no mínimo excelente.

Agora é sua vez: Calcule a média de alguma coluna numérica, se não houver, deixe-a numérica.

In [80]:
#Seu código aqui
v = df["artist_count"].mean()
v
"""fazendo a media dessa tabela que eu criei anteriormente, mostra que em media o mesmo artista aparece normalmente 4.7 vezes, ou seja, de 953 colunas,
ha uma media de que 1 artista aparece em pelo menos 4 ou 5 colunas."""

4.706190975865687

Excelente, fizemos uma análise interessante sobre os dados do DataFrame, porém fazer isso para todas colunas é extremamente chato. Entretanto, existe uma forma fantástica de descrever os valores em um DataFrame, teste abaixo o método `.describe()`

In [81]:
df.describe()

,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,in_apple_playlists,in_apple_charts,in_deezer_charts,bpm,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
count,953.000000,953.000000,953.000000,953.000000,953.000000,953.000000,953.000000,953.000000,953.000000,953.000000,953.00000,953.000000,953.000000,953.000000,953.000000,953.000000,953.000000
mean,4.706191,2018.238195,6.033578,13.930745,5200.124869,12.009444,67.812172,51.908709,2.666317,122.540399,66.96957,51.431270,64.279119,27.057712,1.581322,18.213012,10.131165
std,7.681401,11.116218,3.566435,9.201949,7897.608990,19.575992,86.441493,50.630241,6.035599,28.057802,14.63061,23.480632,16.550526,25.996077,8.409800,13.711223,9.912888
min,1.000000,1930.000000,1.000000,1.000000,31.000000,0.000000,0.000000,0.000000,0.000000,65.000000,23.00000,4.000000,9.000000,0.000000,0.000000,3.000000,2.000000
25%,1.000000,2020.000000,3.000000,6.000000,875.000000,0.000000,13.000000,7.000000,0.000000,100.000000,57.00000,32.000000,53.000000,6.000000,0.000000,10.000000,4.000000
50%,1.000000,2022.000000,6.000000,13.000000,2224.000000,3.000000,34.000000,38.000000,0.000000,121.000000,69.00000,51.000000,66.000000,18.000000,0.000000,12.000000,6.000000
75%,3.000000,2022.000000,9.000000,22.000000,5542.000000,16.000000,88.000000,87.000000,2.000000,140.000000,78.00000,70.000000,77.000000,43.000000,0.000000,24.000000,11.000000
max,34.000000,2023.000000,12.000000,31.000000,52898.000000,147.000000,672.000000,275.000000,58.000000,206.000000,96.00000,97.000000,97.000000,97.000000,91.000000,97.000000,64.000000

Note que o resultado mostra apenas as colunas com dados númericos, o que já ajuda bastante, mas seria bastante interessante analisarmos uma coluna que parece importante, pois ela pode trazer algumas informações interessantes. Vamos fazer o seguinte: Vamos pegar a coluna e aplicar a função `.value_counts()` para ver quais valores essa coluna possui. Obs: Procure colunas com poucos valores únicos, Ex: Gêneros

In [83]:
#Seu código aqui
df["key"].value_counts()
# Escolhi contar a quantidade de diferentes keys (toms) das musicas.

key
C#    120
G      96
G#     91
F      89
B      81
D      81
A      75
F#     73
E      62
A#     57
D#     33
Name: count, dtype: int64

Essa é uma forma bem legal de analisar colunas de dados categóricos, mas tem um detalhe interessante: Se você somar todas quantidades acima, o resultado vai ser menor que o número de linhas.
Para isto usamos a função `.sum()`

In [84]:
df["key"].value_counts().sum()

858

Se o número de linhas originais for menor que o número de linhas na soma, isso quer dizer que existem valores nulos na coluna. Para verificar se existem valores nulos em uma coluna, podemos usar o método `.isnull().sum()`

### Limpeza de dados

Esses valores NaN são uma pedra no sapato para os programadores, mas são facilmente tratados. Mas antes de tratarmos, vamos ver se realmente existem NaN no DataFrame.

In [85]:
df.isna().values.any()

True

In [86]:
df["key"].isnull().sum()

95

A sequência acima faz a seguinte ação: Primeiro, aplica-se a função `.isna()`, que converte os valores do DataFrame para True caso sejam NaN e False caso não o sejam, depois o atributo `.values` retorna um array com todos esses Trues e Falses, a função `.any()` é aplicada sobre esse array e caso haja algum True (significando que existe um NaN) ele retorna True, caso contrário False.

Resumo: Retorna True se tiver pelo menos um NaN

Se existem NaNs dentro do DataFrame, vamos então tratar esse problema, vamos aplicar a função `.fillna()`.

In [87]:
df["key"].isna().values.any()

True

Agora nós podemos utilizar o `.fillna() `para colocar atributo nas células vazias no caso.

In [88]:
df["key"] = df["key"].fillna("Tom nao identificado")

Vamos testar agora se ainda existem NaN na nossa coluna.

In [90]:
df["key"].isna().values.any()

False

Ok, antes existiam NaNs dentro da coluna "coluna", e com a função `.fillna() `inserimos o valor "valor" dentro desses NaNs e agora não existem mais NaNs na coluna. Lembrando que eu coloquei "valor" para preencher só por fins didáticos, quando preencher os valores NaNs tome cuidado com o valor que está inserindo.

Agora, se chamarmos o `.value_counts().sum()` vamos ver o que acontece:

In [92]:
df["key"].value_counts().sum()

953

Vamos aplicar apenas o `.value_counts()` novamente.

In [93]:
df["key"].value_counts()

key
C#                      120
G                        96
Tom nao identificado     95
G#                       91
F                        89
B                        81
D                        81
A                        75
F#                       73
E                        62
A#                       57
D#                       33
Name: count, dtype: int64

Percebeu que agora "valor" aparece mais vezes que antes, interessante não?

Bom, agora é sua vez de testar. Veja se a somatória da coluna **"coluna"** é igual ao número de linhas, após veja se possui NaN e, se possuir, coloque um valor qualquer **"valor"** como código. Depois de fazer isso, teste a somatória e veja se tem NaN para conferir se deu certo.

In [ ]:
#Seu código aqui - somatória
"Eu fiz tudo isso acima, entao eu nao refiz aqui porque acho que ja fiz completo"

In [ ]:
#Seu código aqui - NaN

In [ ]:
#Seu código aqui - id

In [ ]:
#Seu código aqui - teste de somatória

In [ ]:
#Seu código aqui - teste de NaN

### Checando duplicadas

Não é muito importante verificar dados repetidos nesse DataFrame em específico porque é um DataFrame em que duas linhas iguais sinceramente não importam: Dois esquilos iguais podiam estar no mesmo lugar. Entretanto, em alguns DataFrames, ter linhas repetidas pode ser algo errado, nesse caso, pode ser interessante verificar as seguintes funções:

In [94]:
df.duplicated().any()

False

Ok, nesse DataFrame não existem duplicatas, mas caso houvesse, seria interessante aplicar a seguinte função:

In [95]:
df = df.drop_duplicates()
df

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,bpm,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",1,2023,7,14,553,147,141381703,43,...,125,B,Major,80,89,83,31,0,8,4
1,LALA,Myke Towers,1,2023,3,23,1474,48,133716286,48,...,92,C#,Major,71,61,74,7,0,10,4
2,vampire,Olivia Rodrigo,7,2023,6,30,1397,113,140003974,94,...,138,F,Major,51,32,53,17,0,31,6
3,Cruel Summer,Taylor Swift,34,2019,8,23,7858,100,800840817,116,...,170,A,Major,55,58,72,11,0,11,15
4,WHERE SHE GOES,Bad Bunny,19,2023,5,18,3133,50,303236322,84,...,144,A,Minor,65,23,80,14,63,11,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
948,My Mind & Me,Selena Gomez,1,2022,11,3,953,0,91473363,61,...,144,A,Major,60,24,39,57,0,8,3
949,Bigger Than The Whole Sky,Taylor Swift,34,2022,10,21,1180,0,121871870,4,...,166,F#,Major,42,7,24,83,1,12,6
950,A Veces (feat. Feid),"Feid, Paulo Londra",1,2022,11,3,573,0,73513683,2,...,92,C#,Major,80,81,67,4,0,8,6
951,En La De Ella,"Feid, Sech, Jhayco",1,2022,10,20,1320,0,133895612,29,...,97,C#,Major,82,67,77,8,0,12,5
952,Alone,Burna Boy,2,2022,11,4,782,2,96007391,27,...,90,E,Minor,61,32,67,15,0,11,5

`.drop_duplicates()` remove duplicatas e retorna um DataFrame com essas duplicatas removidas, é bem interessante considerando que alguns DataFrames podem ter informações repetidas por erro humano.

###  Renomeando Colunas

Renomear colunas em um DataFrame melhora a clareza e organização dos dados, transformando informações complexas em rótulos compreensíveis, facilitando assim a interpretação dos resultados. A biblioteca pandas do Python oferece uma função robusta para renomear colunas, permitindo personalização dos nomes para se alinhar melhor à natureza dos dados. Essa prática promove maior legibilidade, colaboração e precisão na análise dos dados.
A função do pandas que permite renomear colunas em um DataFrame é chamada `.rename()`.

In [102]:
df = df.rename(columns= {'nome': 'antigo_nome'})

In [103]:
df.head(5)

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,bpm,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",1,2023,7,14,553,147,141381703,43,...,125,B,Major,80,89,83,31,0,8,4
1,LALA,Myke Towers,1,2023,3,23,1474,48,133716286,48,...,92,C#,Major,71,61,74,7,0,10,4
2,vampire,Olivia Rodrigo,7,2023,6,30,1397,113,140003974,94,...,138,F,Major,51,32,53,17,0,31,6
3,Cruel Summer,Taylor Swift,34,2019,8,23,7858,100,800840817,116,...,170,A,Major,55,58,72,11,0,11,15
4,WHERE SHE GOES,Bad Bunny,19,2023,5,18,3133,50,303236322,84,...,144,A,Minor,65,23,80,14,63,11,6

Agora é sua vez, renomeie as colunas que você julgar necessário para a compreensão.

dica: utilize a descrição das colunas

In [112]:
#Seu código aqui
df = df.rename(columns= {'artist(s)_name': 'nome_artista'})
df

,track_name,nome_artista,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,bpm,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",1,2023,7,14,553,147,141381703,43,...,125,B,Major,80,89,83,31,0,8,4
1,LALA,Myke Towers,1,2023,3,23,1474,48,133716286,48,...,92,C#,Major,71,61,74,7,0,10,4
2,vampire,Olivia Rodrigo,7,2023,6,30,1397,113,140003974,94,...,138,F,Major,51,32,53,17,0,31,6
3,Cruel Summer,Taylor Swift,34,2019,8,23,7858,100,800840817,116,...,170,A,Major,55,58,72,11,0,11,15
4,WHERE SHE GOES,Bad Bunny,19,2023,5,18,3133,50,303236322,84,...,144,A,Minor,65,23,80,14,63,11,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
948,My Mind & Me,Selena Gomez,1,2022,11,3,953,0,91473363,61,...,144,A,Major,60,24,39,57,0,8,3
949,Bigger Than The Whole Sky,Taylor Swift,34,2022,10,21,1180,0,121871870,4,...,166,F#,Major,42,7,24,83,1,12,6
950,A Veces (feat. Feid),"Feid, Paulo Londra",1,2022,11,3,573,0,73513683,2,...,92,C#,Major,80,81,67,4,0,8,6
951,En La De Ella,"Feid, Sech, Jhayco",1,2022,10,20,1320,0,133895612,29,...,97,C#,Major,82,67,77,8,0,12,5
952,Alone,Burna Boy,2,2022,11,4,782,2,96007391,27,...,90,E,Minor,61,32,67,15,0,11,5

Visto o dataset, quais os dados numéricos e dados categóricos? cite 2 exemplos de cada.

//Dados numéricos: released_year(ano de lançamento), pois apenas apresenta o número do ano em que a música foi lançada.
                   streams(reproduções), mostra a quantidade que aquela música foi reproduzida nas plataformas.
  Dados categóricos: artist(s)_name(nome do artista), mostra os nomes dos artistas correspondentes a sua música.
                     key(tom), mostra o tom da música, com um char, que representa uma nota musical. Exemplo: E = Mi maior.

Percebeu se o dataset tinha algum enviezamento e/ou erro? Justifique

//Na coluna "key"(Tom) existiam 95 linhas com NaN, ou seja, não havia o tom da música apresentado. Isso pode afetar a identificação do estilo/escala
da música em questão, tendo que fazer uma nova identificação dessa informação, o que gastaria mais tempo.