<a href="TAIL"><img src="https://i.imgur.com/GRTE0OG.png" width="150" title="Tail Logo" />
 </a>

# <font color ="#00b8ff">Aula 1 - Trainees 2</font>

Nome:

### Notebook Criado por Rodrigo Veríssimo

## Introdução

O Pandas é uma biblioteca do Python que facilita (e muito) a manipulação de CSVs, arquivos separados por vírgula, que podem ser interpretados como tabelas. Exitem outras duas formas para analisar arquivos CSVs, com métodos nativos e com a biblioteca CSV, mas ambas são poucos práticas para esse intuito.

O código importa a biblioteca pandas e "apelida" ela de "pd", essa é uma convenção amplamente utilizada.

Vamos então iniciar umas manipulações básicas sobre o análise de dados e o que vimos em aula.

Quando passar na ala de código basta apertar o play para rodar

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
students = pd.read_csv("data/q1_estudantes.csv")
climate = pd.read_csv("data/q2_clima.csv")
spotify = pd.read_csv("data/q3_spotify.csv")

df = "Escolha um dataset, Entre: students, climate, spotify. Ex: df = students"

A função `read_csv()` é chamada e recebe como argumento o endereço de um arquivo CSV, essa função pega esse CSV e transforma ele em um DataFrame (Tabela do Pandas) e atribui à variável data.

In [ ]:
df.head(5)

A função `.head()` e `.tail()` são responsaveis por verem o inicio (head) ou o final (tail) de uma planilha sem precisar ver toda a tabela de uma vez, alem de pode escolher quantas linhas você deseja ver, no caso do exemplo, 5 linhas. <br>

> Essa função pode ser usada para dividir a tabela em partes menores

Sem nenhum mistério, esse é o grande intuito do Pandas, mexer com tabelas. Lembre-se que uma das grandes aplicações do Python é a ciência de dados, então entender o Pandas vai te tornar um(a) grande programador(a) em Python.
E a partir desses dados tratados você pode realizar alguns métodos para inteligência artificial.

Vamos testar a função `.tail()` ? mostre as 10 ultimas colunas do dataset.

In [ ]:
#Seu código aqui

## Analisando o DataSet

Teoria pode ser muito cansativo, então vamos colocar um pouco de prática aqui, você vai fazer um interessante trabalho de estatístico(a).
Explore os dados e tire suas conclusões sobre as colunas, relevância que elas têm, pra que podem ser usadas, etc.

### Dimensionando a tabela

Ok, temos a tabela na variável data mas não sabemos algumas de suas características fundamentais, como tamanho, colunas etc.

Comece dimensionando o DataFrame, diga quantas linhas e colunas ele têm, recomendo a utilização do método `.shape`.

utilize as variáveis linhas e colunas.

In [ ]:
#Seu código aqui

Saber o tamanho do DataFrame é um passo importante, mas também é fundamental entender que tipo de informação ele carrega, que está armazenado nas colunas. Encontre o nome das colunas com o atributo `.columns`

In [ ]:
#Seu código aqu

Bom! Isso já dá uma boa visão sobre a tabela com a qual você está lidando

# Criar e apagar coluna

Bom, agora nós sabemos exatamente o tamanho e as colunas de nossa tabela. Mas você percebeu que tem colunas extra que as descritas na "descrição das colunas". Sabemos que, se os dados não tem descrição ele pode acabar alterando o sentido e o modo de fazer pesquisa, logo precisamos apagar essas colunas "inúteis" para que não ocasione isso.

Tire uma coluna que considere inútil com o `.drop()`

In [ ]:
df = df.drop(columns=["coluna"])
df

In [ ]:
#Seu código aqui

Você pode também acrescentar uma coluna que seja necessária para os dados, como no exemplo abaixo:

In [ ]:
df['Teste'] = list(range(len(df)))
df

O código procura a existência da coluna Teste no método `list()`, caso ela não exista ele cria gerando números que representam a posição da coluna. o `range()` significa o faça e o `len()` pega o tamanho do seu dataset

Agora é sua vez, apague a coluna Teste criada e crie uma nova que possa colaborar com o dataset que estamos utilizando

In [ ]:
#Seu código aqui

### Descrição estatística

Ok, dimensionamos a tabela e vimos o nome das colunas, mas isso ainda é o começo, precisamos saber como manipular essa tabela. Uma forma interessante de acessar os dados da tabela é com a seguinte sintaxe:

In [ ]:
variável_coluna = df['coluna']
variável_coluna

O que isso quer dizer? Bem, a sintaxe `df['coluna']` acessa a coluna nomeada do DataFrame df, essa coluna foi armazenada na variável_coluna e apresentada.

Ok, temos acesso às colunas do DataFrame, isso é bom, isso quer dizer que podemos tirar algumas conclusões

In [ ]:
v = df["outra_coluna"].mean()
v

O método `.mean()` calcula médias em listas rapidamente, não precisamos fazer nenhuma conta, isso é no mínimo excelente.

Agora é sua vez: Calcule a média de alguma coluna numérica, se não houver, deixe-a numérica.

In [ ]:
#Seu código aqui

Excelente, fizemos uma análise interessante sobre os dados do DataFrame, porém fazer isso para todas colunas é extremamente chato. Entretanto, existe uma forma fantástica de descrever os valores em um DataFrame, teste abaixo o método `.describe()`

In [ ]:
df.describe()

Note que o resultado mostra apenas as colunas com dados númericos, o que já ajuda bastante, mas seria bastante interessante analisarmos uma coluna que parece importante, pois ela pode trazer algumas informações interessantes. Vamos fazer o seguinte: Vamos pegar a coluna e aplicar a função `.value_counts()` para ver quais valores essa coluna possui. Obs: Procure colunas com poucos valores únicos, Ex: Gêneros

In [ ]:
#Seu código aqui

Essa é uma forma bem legal de analisar colunas de dados categóricos, mas tem um detalhe interessante: Se você somar todas quantidades acima, o resultado vai ser menor que o número de linhas.
Para isto usamos a função `.sum()`

In [ ]:
df["coluna"].value_counts().sum()

Se o número de linhas originais for menor que o número de linhas na soma, isso quer dizer que existem valores nulos na coluna. Para verificar se existem valores nulos em uma coluna, podemos usar o método `.isnull().sum()`

### Limpeza de dados

Esses valores NaN são uma pedra no sapato para os programadores, mas são facilmente tratados. Mas antes de tratarmos, vamos ver se realmente existem NaN no DataFrame.

In [ ]:
df.isna().values.any()

In [ ]:
df["coluna"].isnull().sum()

A sequência acima faz a seguinte ação: Primeiro, aplica-se a função `.isna()`, que converte os valores do DataFrame para True caso sejam NaN e False caso não o sejam, depois o atributo `.values` retorna um array com todos esses Trues e Falses, a função `.any()` é aplicada sobre esse array e caso haja algum True (significando que existe um NaN) ele retorna True, caso contrário False.

Resumo: Retorna True se tiver pelo menos um NaN

Se existem NaNs dentro do DataFrame, vamos então tratar esse problema, vamos aplicar a função `.fillna()`.

In [ ]:
df["coluna"].isna().values.any()

Agora nós podemos utilizar o `.fillna() `para colocar atributo nas células vazias no caso.

In [ ]:
df["coluna"] = df["coluna"].fillna("item da coluna")

Vamos testar agora se ainda existem NaN na nossa coluna.

In [ ]:
df["coluna"].isna().values.any()

Ok, antes existiam NaNs dentro da coluna "coluna", e com a função `.fillna() `inserimos o valor "valor" dentro desses NaNs e agora não existem mais NaNs na coluna. Lembrando que eu coloquei "valor" para preencher só por fins didáticos, quando preencher os valores NaNs tome cuidado com o valor que está inserindo.

Agora, se chamarmos o `.value_counts().sum()` vamos ver o que acontece:

In [ ]:
df["coluna"].value_counts().sum()

Vamos aplicar apenas o `.value_counts()` novamente.

In [ ]:
df["coluna"].value_counts()

Percebeu que agora "valor" aparece mais vezes que antes, interessante não?

Bom, agora é sua vez de testar. Veja se a somatória da coluna **"coluna"** é igual ao número de linhas, após veja se possui NaN e, se possuir, coloque um valor qualquer **"valor"** como código. Depois de fazer isso, teste a somatória e veja se tem NaN para conferir se deu certo.

In [ ]:
#Seu código aqui - somatória

In [ ]:
#Seu código aqui - NaN

In [ ]:
#Seu código aqui - id

In [ ]:
#Seu código aqui - teste de somatória

In [ ]:
#Seu código aqui - teste de NaN

### Checando duplicadas

Não é muito importante verificar dados repetidos nesse DataFrame em específico porque é um DataFrame em que duas linhas iguais sinceramente não importam: Dois esquilos iguais podiam estar no mesmo lugar. Entretanto, em alguns DataFrames, ter linhas repetidas pode ser algo errado, nesse caso, pode ser interessante verificar as seguintes funções:

In [ ]:
df.duplicated().any()

Ok, nesse DataFrame não existem duplicatas, mas caso houvesse, seria interessante aplicar a seguinte função:

In [ ]:
df = df.drop_duplicates()
df

`.drop_duplicates()` remove duplicatas e retorna um DataFrame com essas duplicatas removidas, é bem interessante considerando que alguns DataFrames podem ter informações repetidas por erro humano.

###  Renomeando Colunas

Renomear colunas em um DataFrame melhora a clareza e organização dos dados, transformando informações complexas em rótulos compreensíveis, facilitando assim a interpretação dos resultados. A biblioteca pandas do Python oferece uma função robusta para renomear colunas, permitindo personalização dos nomes para se alinhar melhor à natureza dos dados. Essa prática promove maior legibilidade, colaboração e precisão na análise dos dados.
A função do pandas que permite renomear colunas em um DataFrame é chamada `.rename()`.

In [ ]:
df = df.rename(columns= {'nome': 'antigo_nome'})

In [ ]:
df.head(5)

Agora é sua vez, renomeie as colunas que você julgar necessário para a compreensão.

dica: utilize a descrição das colunas

In [ ]:
#Seu código aqui

Visto o dataset, quais os dados numéricos e dados categóricos? cite 2 exemplos de cada.

//Sua resposta aqui

Percebeu se o dataset tinha algum enviezamento e/ou erro? Justifique

//Sua resposta aqui