In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv("scraped_data.csv", encoding ='ISO-8859-1')
df

         product    price                                           img_link
0      Bulbasaur   £63.00  https://scrapeme.live/wp-content/uploads/2018/...
1        Ivysaur   £87.00  https://scrapeme.live/wp-content/uploads/2018/...
2       Venusaur  £105.00  https://scrapeme.live/wp-content/uploads/2018/...
3     Charmander   £48.00  https://scrapeme.live/wp-content/uploads/2018/...
4     Charmeleon  £165.00  https://scrapeme.live/wp-content/uploads/2018/...
..           ...      ...                                                ...
750    Marshadow  £107.00  https://scrapeme.live/wp-content/uploads/2018/...
751      Poipole  £130.00  https://scrapeme.live/wp-content/uploads/2018/...
752    Naganadel   £30.00  https://scrapeme.live/wp-content/uploads/2018/...
753    Stakataka  £190.00  https://scrapeme.live/wp-content/uploads/2018/...
754  Blacephalon  £149.00  https://scrapeme.live/wp-content/uploads/2018/...

[755 rows x 3 columns]